---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Oleksii Sidorov. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Oleksii, Sidorov, acecreamu">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Do you want to know more</span>
					<h1>
						<a href="" target="_blank" title="click, if you want, but nothing will happen" rel="nofollow">About me</a>
					</h1>
<br>
(Taken from EF interview in Oct 2021)
<br>
<h2>What was your career and/or academic journey before EF? </h2>
<p>
I studied Physics as my Undergrad and for Master’s I studied CS and psychology across 3 European Universities in France, Spain, and Norway. At the same time, I started my research work, completely individually, I tried to do school projects using innovative methods that later could become papers, and they did! At that time I also interned in a few labs, namely in KU Leuven (Belgium) and Uni of Oxford (UK). These were experimental psychology labs, but what I did there is helping them to analyze experimental data using Data Science and Machine Learning techniques. In the end, I also worked on industrial projects, and after all, at my graduation, I had 14 papers published, quite a good number as for a pre-PhD person! 
<br><br>
That, and excess of ambition helped me to make my way to the Facebook AI Research lab right after graduation. It was in their headquarter in Menlo Park, in one building with Mark Zuckerberg! Amazing opportunity and amazing people. I continued my research path, working in Vision & Language team where we concentrated on Multimodal AI – a novel type of algorithms that can "see" and "read"  at the same time, and respond in natural language. Typical use of it, is, for example, by showing an image, ask AI "what sign is it?" or "what time does the clock show?". Intuitively, you could guess that it sounds like something visually impaired people would ask, and you will be right! It was used, first of all, for accessibility features to help people understand the world. 
</p><br>
<h2>Why did you decide to join EF and become a founder?</h2>
<p>During my academic time, I was surprised to observe how big the discrepancy between application and research is. Most of the algos we use today are stuff that being researched 5+ years ago! And you can imagine, for someone who has visibility into 5+ years in the future, how painful it is to use outdated tech and struggle around problems in daily life which I just read how to solve in a paper. Hence, my main motivation was to start applying the knowledge and skill I got to real-life problems (which I indeed do now at Suggestr).
<br>
There was also a personal aspect to it, as I realized that I can see where I will be after 10-15 years in academic research, and I wasn't too excited about it. That's the only life I have, and I know I'm able for more than passing a peer-review after 2 revisions :) An entrepreneurial career is much more scalable and fundamental than any "craft" I can possibly choose.


					<p>I'm currently working at Facebook AI Research as an AI Resident (read: Research Engineer) under the supervision of Marcus Rohrbach and Amanpreet Singh. My work is concentrated around multimodal AI, particularly Vision and Language. Just recently we finished a large project (task + dataset + model + challenge) on <a href="https://textvqa.org/textcaps" target="_blank" title="textvqa.org/textcaps" rel="nofollow" style="text-decoration: underline;">Image Captioning with Reading Comprehension</a> which is aimed at enabling computers to read the text from the images and describe the images to, say, blind users.</p>
<br>
<p>Before that, I finished joint a Master program between three European Universities - Norwegian University of Science and Technology, University of Granada, and the University of Lyon - where I studied Applied Computer Science with a concentration on Imaging, Computer Vision, and Color Science. During my study, I also interned at amazing groups at the University of Oxford (UK) and KU Leuven (Belgium) and worked as a Teaching and Research Assistant at NTNU.</p> 
<br>
<p>I also studied Physics at my undergrad, but only during my Master I actually discovered that work may be fun and things don't need to be super complex and boring to be useful. This, and also the fact of being in the academic environment, motivated me to develop fast as a researcher, which eventually lead to publishing 14 peer-reviewed papers at the end of my 2-year program from the point where I knew nothing about Computer Vision, Machine Learning, and the world (for the reference, standard outcome of a PhD program is 3-5 papers).</p>
<br>
<p>I wanted to keep that spirit of excitement and to grow further as a first-class researcher but once I reached the level of real-world research frontier it turned out to be much more complex and harsh than it was beneficial ... just ... just as ... Physics, which I tried to escape so hard!</p>
<br>
<p>So now I want to concentrate on the stuff I noticed to like the most:  making money, discussing business strategy, designing UX, complaining about crappy software, making rational decisions and driving the impact others can see. Which brings me to... no, not the loudest person in the internet argument, but right,  Product Management / Entrepreneurship, where I try to grow now.</p>
<br>
<p>My initial attempts to build digital products you can find here: <a href="https://linguo.club" target="_blank" title="linguo.club" rel="nofollow" style="text-decoration: underline;">Linguo.club</a> and <a href="https://faceon.webflow.io" target="_blank" title="faceon.ai" rel="nofollow" style="text-decoration: underline;">FaceOn</a>. </p><br><br><br><br><br><br>
				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/about/1.JPG" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/2.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/3.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/5.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/4.jpg" alt="" />
						</li>
						<li>
							<img src="/assets/images/about/6.jpg" alt="" />
						</li>
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
