<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Instagram" href="{{ site.inst }}" target="_blank">Instagram</a></li>
				<li><a title="YouTube" href="{{ site.youtube }}" target="_blank">YouTube</a></li>
				<li><a title="Google Scholar" href="{{ site.gscholar }}" target="_blank">Google Scholar</a></li>
			</ul>
		</section>
		<section class="follow">
			<h2>Links</h2>
			<ul>
				<li><a title="LinkedIn" href="" target="_blank">Linnks will be here</a></li>
			</ul>
		</section>
	</div>
</footer>
